body {
    background-image: url("Assets/sticky_aboutpng.png");
    background-repeat: no-repeat;

}


.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins, serif;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: #fff;
    color: #333;
}
.wrapper {
    width: 1170px;
    margin: auto;
}
.logo {
    float: left;
}
.logo img {
    width: 100%;
    padding: 15px 0;
}
.container {
    position: relative;
    font-family: Arial;

}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 30%;

    background-color: #e3e3e3;
    color: #000000;
    padding-left: 24px;
    padding-right: 33px;
    padding-top: 20px;
    padding-bottom: 40px;
}
pre {
    text-align: left;
    white-space: pre-line;
}